@import './base.css';

/* div {
  border: white solid 1px;
} */

.boutonCall{
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border:none;
  background-color: #dc3545;
  color:#f8f8f8;
  width: 200px;
}
.boutonCall:hover{
  background-color: #d11f31;
  color:#f8f8f8
  
}

input,textarea{
  background-color: #555555;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
}

textarea{
  height: 150px;
  padding: 1rem;
  text-align: left;
}

.input-file {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.input-file:hover {
  background-color: #45a049;
}

.input-file input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: #f8f8f8;
}

.nav-link-custom {
  color: #f8f8f8 !important; /* Liens en noir */
  text-decoration: none !important; /* Pas de soulignement */
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link-custom:hover {
  color: #f8f8f8 !important; /* Noir même au survol */
  text-decoration: none !important; /* Aucun soulignement */
}

h2{
  color:#dc3545;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
}
h3{
  font-family:"Press Start 2P" ;
  font-size: 20px;
  color: #f8f8f8;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 16px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
    min-height: 100vh;
    text-align: center;
  }
}